body{
    color:blueviolet;
    background-size: cover;
}

h1{
 color:orange; 
 font-size: 50px;  
 margin-right: 150px;
}

ul{
    position: relative;
    top: -82px;
    left: 2300px;
    font-size: 50px;
  
}
ul li{
    list-style: none;
    display: inline;
    margin-left: 50px; 
    color:red;   
}

img{
    width:100%;
    height: 720px;
    object-fit: cover;
    margin-top: -65px;
}
.second-section h1{
color:orange; 
 font-size: -23px;  
 margin-right: 150px;
 text-align: center;
}
.second-section img{
     border-radius:50%;
     display: block;
     margin: 0 auto;
     width: 40%;
     height: 700px;
}
.feeling-healthy h1  {
    position: relative;
    bottom:650px;
    right: 1045px;
    color:black;
    font-size: 50px;
    }
    
    .feeling-healthy p {     
    position: relative;
    bottom: 663px;
    right: -72px;
    color:black;
    font-size:41px;
    }
    .feeling-good h1  {
        position: relative;
        bottom:650px;
        right: 1045px;
        color:black;
        font-size: 50px;
        }
        
        .feeling-good p {     
        position: relative;
        bottom: 663px;
        right: -72px;
        color:black;
        font-size:41px;
        }

        .feeling-strong h1  {
            position: relative;
            bottom:650px;
            right: 1045px;
            color:black;
            font-size: 50px;
            }
            
            .feeling-strong p {     
            position: relative;
            bottom: 663px;
            right: -72px;
            color:black;
            font-size:41px;
            }

            .Get-social h1  {
                position: relative;
                bottom:1250px;
                left: 1045px;
                color:black;
                font-size: 50px;
                }
                
                .Get-social p {     
                position: relative;
                bottom: 1250px;
                left: 2172px;
                color:black;
                font-size:41px;
                }
                .Get-social h1  {
                    position: relative;
                    bottom:1250px;
                    left: 1045px;
                    color:black;
                    font-size: 50px;
                    }
                    
                    .Get-social p {     
                    position: relative;
                    bottom: 1250px;
                    left: 2172px;
                    color:black;
                    font-size:41px;
                    }
                    .Get-Interactive h1  {
                        position: relative;
                        bottom:1250px;
                        left: 1045px;
                        color:black;
                        font-size: 50px;
                        }
                        
                        .Get-Interactive p {     
                        position: relative;
                        bottom: 1250px;
                        left: 2172px;
                        color:black;
                        font-size:41px;
                        }

                        .Get-Inshape h1  {
                            position: relative;
                            bottom:1250px;
                            left: 1045px;
                            color:black;
                            font-size: 50px;
                            }
                            
                            .Get-Inshape p {     
                            position: relative;
                            bottom: 1250px;
                            left: 2172px;
                            color:black;
                            font-size:41px;
                            }
    


        

